<!DOCTYPE html>
<html>
  <head>
    <script src="//assets.livestax.com/livestax-0.2.0.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/main.js"></script>
    <link href="//assets.livestax.com/theme-0.0.1.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body data-signed-request="<%= signed_request  %>">
    <div class="col-md-12">
      <div class="notice notice-info">
        <div class="notice-icon">
          <i class="fa fa-flag"></i>
        </div>
        <div class="notice-text">
          <p class="notice-title">Empty History</p>
          <p>No Pet names have been searched for, search for a name in the Pet Finder App to create a History.</p>
        </div>
      </div>

      <div class="list-group js-pet-names">
        <% if (pet_names.length > 0) { %>
          <% for(var i=0; i<pet_names.length; i++) { %>
            <a href="#" class="list-group-item"><%= pet_names[i] %></a>
          <% } %>
        <% } %>
      </div>
    </div>
  </body>
</html>
